/* 
Comments are separated into the below categories for easy traversal

General Styles (For general tag styles)
    Header and Footer (For all styles on these two tags)
        Class and ID's (For all styles relating to children classes and id's in header and footer)
    nav (For all styles relating to nav tags)

General Classes (Class styles that are used generally across the site)

Landing Page (Styles that directly affect index.html)
    Introduction Section (Styles related to the intro of index.html)
    Ending section (Styles pertaining to the ending of index.html)

Tickets Page (Styles that directly affect tickets.html)
    Tickets Section (Styles for the tickets section of tickets.html)
    Youth Camp Section (Styles for the youth camp section of tickets.html)
    Seasons Pass (Styles pertaining to the seasons pass on tickets.html)

Attractions Page (Styles pertaining to attractions.html)
    Introduction Section (Styles related to the intro of attractions.html)
    Classes (Styles related to overriding general class styles for attractions.html)
    Hyrule Section (Styles related to the Hyrule portion of attraction.html)
    History Section (Styles related to the History portion of attraction.html)
    Season Section (Styles related to the Season portion of attraction.html)
*/

/* Import google font Poppins and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General Styles */
/* Override web browser default styles */
* {
    font-family: 'Roboto', 'Poppins', helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main > * {
    padding: 50px 40px;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 4vw;
    font-weight: 800;
}

h2 {
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
}

h4 {
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 1.5vw;
    text-align: center;
}

img {
    border-radius: 25px;
    width: 100%;
    height: auto;
}

object {
    pointer-events: none;
}

hr {
    margin: 10px 0px;
}

/* General Styles || Header and Footer */
/* Style header and footer element turning it into a flex object. Also adjust the padding and sizing */
header, footer{
    height: auto;
    width: 100%;
    padding: 20px 30px;
    background-color: rgb(0, 0, 0);
    color: #05C3F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
}

footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 10px;
}

/* General Styles || Header and Footer || Classes and ID's */

/* Header general classes */
.header-left {
    width: 100px;
    height: auto;
}

.header-left object {
    width: 100%;
    max-height: 100%;
}

.header-left a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* Footer general Id's */
#footer-top {
    display: flex;
    justify-content: space-between;
}

#footer-top nav ul{
    align-items: flex-start !important;
    justify-content: flex-end !important;
}

/* Mail form styles */ 
.mail-form {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mail-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
}

.mail-form input {
    width: 100%;
    padding: 12px;
    padding-right: 40px;
    height: 40px;
    border-radius: 20px;
}

.mail-form button {
    margin-left: 20px;
    height: 100%;
    padding: 5% 20%;
    font-size: 1.5vw;
    font-weight: 600;
    border-radius: 6px;
}

/* Social media links styles */

#social-container {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#social-container a {
    width: 30%;
    height: auto;
}

#social-container object{
    width: 100%;
    max-height: 100%;
}

#social-li {
    margin-right: 0px;
}

/* General Styles || Nav */

/* Set default styles for all nav tags. Make them a flex item and remove any default list styling*/
nav ul, #social-li p {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 400;
    color: #05C3F9 !important;
}

nav ul {
    align-items: center;
}

/* Style the list inside the navbar */
nav ul li {
    margin: 0px 40px;
    color: #05C3F9;
}

/* General classes */
/* Style large-image class to contain main image piece on each page */
.large-image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style the main call to action/catchphrase that is laid out over introduction image */
.main-ctoa {
    height: auto;
    width: 50%;
    padding: 30px 60px;
    background-color: #05c4f99c;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-ctoa p {
    font-size: 2vw;
    font-weight: 600;
    padding: 20px 0;
}

/* Add styling to pages that are not index.html to change font colour to white and spread blue background further for main catchphrase */
.secondary-ctoa {
    color: white;
    width: 75%;
    padding: 60px;
}

/* Add styling to links to mimic a button */
.button-link {
    height: auto;
    width: fit-content;
    padding: 15px 40px;
    font-size: 2vw;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

/* This is to style links that mimic buttons with a black background and blue text */
.black-blue-link {
    color: #05C3F9 !important;
    background-color: #000;
}

/* This is to style links that mimic buttons with a blue background and white text */
.blue-white-link {
    color: white !important;
    background-color: #05C3F9;
}

/* This is to style links that mimic buttons with a white background and black text */
.white-black-link {
    color: black !important;
    background-color: white;
}

/* This is to style links that mimic buttons with a blue background and black text */
.blue-black-link {
    color: black !important;
    background-color: #05C3F9;
}

/* Style class to allow for easy two-column layout */
.two-column {
    height: auto;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.two-column > * {
    width: 50%;
    height: 100%;
    min-height: 100%;
    padding: 50px 40px;
}

.white-text {
    color: white !important;
}

/* Landing Page */

#lp-large-image {
    background-image: url(../images/colossal-reality-coaster.jpg);
}

/* Landing Page || Introduction section */
.lp-introduction {
    background-color: black;
    color: white;
}

#lp-introduction-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lp-introduction-left article h2 {
    color: #05C3F9;
}
#lp-introduction-left article p {
    margin: 30px 0px;
}

#lp-introduction-right {
    padding-left: 30px;
}

/* Landing Page || Ending section */

#lp-attraction-highlight {
    background-color: #05C3F9;
    height: auto !important;
    margin: 0px;
    min-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lp-attraction-highlight h3 {
    margin-bottom: 50px;
}

#lp-attraction-highlight .two-column img {
    padding: 0px;
}

#lp-attraction-right {
    height: 100%;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lp-attraction-right > * {
    padding: 0px;
    width: 100%;
}

#lp-attraction-right p {
    margin-top: 10px;
    text-align: left;
    color: white;
}

#hyrule-icons {
    display: flex;
    width: 100%;
    padding: 0px;
}

#hyrule-icons > *{
    width: 50%;
}

#sword {
    margin-right: 25px;
}

#lp-gift-shop {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#lp-gift-shop * {
    margin: 15px 0px;
}

#lp-gift-shop h3 {
    color: #05C3F9;
}

#toys-image {
    width: fill;
    height: 300px;
    object-fit: cover;
}

/* Tickets Page */
#tic-large-image {
    background-image: url(../images/ticket-booth.jpg);
}

/* Tickets Page || Tickets section */

.ticket-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ticket-top *{
    text-align: left;
}

.ticket h2 {
    font-weight: 600;
    text-align: left;
    margin-bottom: 30px;
}

.ticket ul {
    list-style: none;
}

.ticket li a {
    font-size: 1vw !important;
    padding: 10px 50px !important;
}

.ticket ul  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.ticket-top-info {
    margin-left: 30px
}

#day-pass-ticket {
    background-color: black;
    color: white;
}

#day-pass-ticket h2 {
    color: #05C3F9;
}

#day-pass-ticket hr {
    color: #05C3F9;
}

#fast-track-ticket {
    background-color: rgb(255, 255, 255);
    color: #05C3F9;
}

#fast-track-ticket h2 {
    color: black;
}

#fast-track-ticket hr {
    color: black;
}

/* Tickets page || Youth camp section */

#youth-camp-image {
    background-image: url(../images/child-vr.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#youth-camp-ticket {
    width: 50%;
    background-color: #05c4f99c;
    color: white;
    height: auto;
    padding: 50px 40px;
    margin-left: 100px;
}

#youth-camp-ticket p {
    color: black;
}

#youth-camp-ticket hr {
    color: white;
}

/* Tickets Page || Seasons Pass */

#seasons-pass-left {
    padding: 0px;
    width: 50%;
    display: flex;
}

#seasons-pass-left img{
    all: initial;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#seasons-pass-ticket {
    background-color: white;
}
#seasons-pass-ticket h2 {
    color: #05C3F9;
}

#seasons-pass-ticket hr {
    color: #05C3F9;
}

/* || Attractions Page */

#attractions-page h3, #attractions-page h2{
    font-size: 4vw;
}

#att-large-image {
    background-image: url(../images/things-to-do-main-image.jpg);
}

#attractions-page p {
    margin-top: 30px;
    font-size: 2vw;
}

/* Attractions Page || Introduction section */

#att-introduction {
    color: white;
    background-color: black;
}

/* Attractions Page || Classes */
.attraction > *{
    margin: 30px 0px;
}

.attraction h3 {
    margin-top: 0px;
}

.attraction div img {
    border-radius: 25px !important;
}

.attractions-main-image {
    height: 600px;
    object-fit: cover;
}

.attraction-info {
    display: flex;
    height: 300px;
    align-items: center;
}

.attraction-info > *{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.attraction-info p{
    color: black;
    text-align: left;
    margin-left: 50px;
    padding: 0px
}

/* Attractions Page || Hyrule Section */

#hyrule-attraction {
    background-color: #05C3F9;
}

#hyrule-attraction p {
    color: white;
}

#hyrule-attraction ul {
    font-size: 2vw;
    margin-left: 30px;
}

.white-text {
    color: white;
    padding-left: 20px;
}

/* Attractions Page || History Section */

#history-attraction {
    background-color: black;
    color: white;
}

#history-attraction {
    background-color: black;
    color: white;
}

#history-attraction img + p{
    color: #05C3F9;
}

/* Attractions Page || Season Section */

#seasons {
    background-color: white;
}

#seasons h3 {
    color: #05C3F9;
}

.season {
    padding-top: 0px;
    padding-bottom: 0px;
}

.seasons-collection > * {
    padding: 0px 20px;
}

.season img {
    height: 800px !important;
    object-fit: cover;
}